body {background-color: black;
      font-family: 'Courier New', Courier, monospace;
}

.first-div {background-color: rgb(138, 43, 226); 
    border: 10px solid rgb(0, 0, 0); 
    padding:20px;}

h1 {
    text-align: center;
    color: rgb(138, 43, 226);
    font-size: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
